# Copie ce fichier en .env et remplis tes propres valeurs

# Discord
DISCORD_TOKEN=ton_token_discord_ici
DISCORD_CHANNEL_ID=id_du_channel_principal

# Browserless (optionnel, pour scraping headless distant)
BROWSERLESS_TOKEN=ton_token_browserless_ici

# Groq (IA LLM)
GROQ_API_KEY=ta_cle_api_groq_ici

# IDs des channels Discord par filière
CHANNEL_LSI=id_channel_lsi
CHANNEL_RS=id_channel_rs
CHANNEL_BDML=id_channel_bdml
CHANNEL_TRANSVERSE=id_channel_transverse
